[user]
  name = Pham Huu Loc
  email = phamhuulocforwork@gmail.com
[init]
  defaultBranch = main
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[alias]
  ls = !eza --git --group-directories-first --icons
  ll = !eza --git --group-directories-first --icons -l
  la = !eza --git --group-directories-first --icons -la
[core]
  autocrlf = input
  ignorecase = false
[credential]
  helper = "/mnt/c/Program Files/Git/mingw64/bin/git-credential-manager.exe"
